<app-canvas-cart></app-canvas-cart>
<h1 class="mt-5"></h1>
<div class="row">
  <div class="col mt-5 pb-4  text-center align-self-start">
      <h1>Contacta con nosotros</h1>
  </div>
</div>
<form class="row g-3 needs-validation p-5" novalidate action="https://formsubmit.co/6f5946374eaaaeef9a2ebfbbfe9750ae" method="POST">
  <div class="col-12 col-md-6  p-4 hover-focus-active">
      <div class="row">
          <div class="col ">
              <h4>Nombre y apellidos<span class="text-danger">*</span></h4>
          </div>
      </div>
      <div class="col">
          <div class="col-12 ">
              <input type="text" class="form-control anim" id="inputNombre" name="nombre" required>
              <label for="inputNombre" class="form-label mb-3">Nombre</label>
          </div>
          <div class="col-12 ">
              <input type="text" class="form-control anim" id="inputApellido1" aria-describedby="inputGroupPrepend" name="apellido1" required>
              <label for="inputApellido1" class="form-label mb-3">Primer apellido</label>
          </div>
          <div class="col-12 ">
              <input type="text" class="form-control anim" id="inputApellido2" name="apellido2" required>
              <label for="inputApellido2" class="form-label mb-5">Segundo apellido</label>
          </div>
          <div class="col-12 ">
              <h4><label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control anim" id="inputEmail4" name="email" required></h4>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-6 p-4">
      <div class="row">
          <div class="col ">
              <h4>Dirección<span class="text-danger">*</span></h4>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 ">
                  <input type="text" class="form-control anim" id="calle" name="direccion" required>
                  <label for="calle" class="form-label mb-3">Calle, número, piso, puerta</label>
              </div>
          </div>
          <div class="row">
              <div class="col-6 ">
                  <input type="text" class="form-control anim" id="codigoPostal" name="codigopostal" required>
                  <label for="codigoPostal" class="form-label mb-3">Código postal</label>
              </div>
              <div class="col-6 ">
                  <input type="text" class="form-control anim" id="municipio" name="municipio" required>
                  <label for="municipio" class="form-label">Municipio</label>
              </div>
          </div>
          <div class="row">
              <div class="col-6 ">
                  <select id="provincia" class="form-select anim" name="provincia" required>
                    <option selected>...</option>
                    <option>Alicante</option>
                    <option>Valencia</option>
                    <option>Castellón</option>
                  </select>
                  <label for="provincia" class="form-label">Provincia</label>
              </div>
              <div class="col-6 ">
                  <select id="pais" class="form-select anim" name="pais" required>
                    <option selected>...</option>
                    <option>España</option>
                    <option>Italia</option>
                    <option>Francia</option>
                  </select>
                  <label for="pais" class="form-label mb-5">País</label>
              </div>
          </div>
          <div class="row">
              <div class="col ">
                  <h4>Teléfono<span class="text-danger">*</span></h4>
              </div>
          </div>
          <div class="row">
              <div class="col-6 ">
                  <input type="text" class="form-control anim" id="fijo" name="fijo" required>
                  <label for="fijo" class="form-label mb-3">Fijo</label>
              </div>
              <div class="col-6 ">
                  <input type="text" class="form-control anim" id="movil" name="movil" required>
                  <label for="movil" class="form-label mb-2">Móvil</label>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <hr class="bg-secondary border-secondary"/>
      </div>
  </div>
  <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
          <button type="submit" class="btn btn-primary btn-lg mb-2" onclick="animarForm()">Contactar</button>
      </div>
  </div>
</form>
