<footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">Sobre nosotros</h4>
          <p class="text-muted">Somos una empresa en expansión, con sede en Benidorm. Repartimos nuestros productos a toda España. Contacta con nosotros en driveelectric@hotmail.com o en el teléfono 664056573.</p>
          <p class="pt-4 text-muted">Copyright ©2022 Todos los derechos reservados | Está usted visitando la web oficial de
            <span> Drive-Electric</span>
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Novedades</h4>
          <p class="text-muted">Permanece informado</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="bi bi-arrow-right-square"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Síguenos</h4>
          <p class="text-muted">Nuestras redes sociales</p>
          <div class="column text-light">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
