<div
  class="offcanvas offcanvas-end bg-dark"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header text-light bg-dark">
    <h1 id="offcanvasRightLabel" class="text-primary">Carrito de Compras</h1>
    <!-- <div class="col alert alert-info text-center">
      <h1 id="offcanvasRightLabel" class="text-primary">Carrito de Compras</h1>
    </div> -->

    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-cart></app-cart>
  </div>
</div>
