<div
  class="offcanvas offcanvas-end bg-dark"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header text-light">
    <div class="d-flex text-center ms-5">
      <h1 id="offcanvasRightLabel" class="text-primary ms-5 text-center w-100">Carrito de Compras</h1>
    </div>
    <button
      type="button"
      class="btn-close text-reset bg-light mb-2 me-1"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-cart></app-cart>
  </div>
</div>
