<div class="col">
  <mat-card class="cardShadow m-4">
    <mat-card-content>
      <a class="nav-link m-0 p-0" [routerLink]="['/products', inputProducto.id]">
        <img mat-card-image [src]="inputProducto.image" alt="Photo" height="250px">
        <mat-card-title>{{ inputProducto.title }}</mat-card-title>
      </a>
      <mat-card-subtitle>Stock: {{ inputProducto.stock}}</mat-card-subtitle>
      <p>{{ inputProducto.description}}</p>
      <p>Precio: <span class="text-danger mx-1">{{inputProducto.price | currency: "EUR" }}</span>
      <s class="text-muted"> {{ offer(inputProducto.price) | currency: "EUR"}}</s></p>
    </mat-card-content>
      <mat-card-actions class="d-flex">
        <button mat-button class="">COMPRAR</button>
        <button mat-button (click)="addProduct()">AÑADIR AL CARRITO</button>
      </mat-card-actions>
  </mat-card>
</div>

