<!-- <div class="container">
  <div class="row text-center m-3">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 h-100" *ngFor="let item of listaDatos">
      <div class="card mb-3">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.status}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="card mx-3">
  <img src="{{inputProducto.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{inputProducto.title}}</h5>
    <p class="card-text">{{inputProducto.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<!-- <div class="card mb-3">
  <figure class="figure">
    <a
    class="nav-link"
    [routerLink]="['/products', inputProducto.id]"
    [routerLinkActive]="['active']"
  >
    <img
      [src]="inputProducto.image"
      [ngStyle]="{ 'height.px': imgHeight }"
      class="card-img-top figure-img"
    />
  </a>
  </figure>
  <div class="card-body">
    <a
      class="nav-link"
      [routerLink]="['products/', inputProducto.id]"
      [routerLinkActive]="['active']"
      ><h5 class="card-title">
        {{ inputProducto.title | titlecase }}
      </h5></a
    >
    <ul>
      <li [innerText]="inputProducto.description"></li>
      <li [innerText]="inputProducto.stock"></li>
    </ul>
    <p class="card-text">
      <span class="text-danger">{{
        inputProducto.price | currency: "EUR"
      }}</span>
      <s class="text-muted"> 410.50€</s>
    </p>
    <a
      class="btn btn-primary w-100"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="addProduct()"
      >Añadir al Carrito</a
    >
  </div>
</div> -->

<div class="col">
  <mat-card class="cardShadow m-4">
    <mat-card-content>
      <a class="nav-link m-0 p-0" [routerLink]="['/products', inputProducto.id]">
        <img mat-card-image [src]="inputProducto.image" alt="Photo" height="250px">
        <mat-card-title>{{ inputProducto.title }}</mat-card-title>
      </a>
      <mat-card-subtitle>Stock: {{ inputProducto.stock}}</mat-card-subtitle>
      <p>{{ inputProducto.description}}</p>
      <p>Precio: <span class="text-danger mx-1">{{inputProducto.price | currency: "EUR" }}</span>
      <s class="text-muted"> {{ offer(inputProducto.price) | currency: "EUR"}}</s></p>
    </mat-card-content>
      <mat-card-actions class="d-flex">
        <button mat-button class="">COMPRAR</button>
        <button mat-button (click)="addProduct()">AÑADIR AL CARRITO</button>
      </mat-card-actions>
  </mat-card>
</div>

