<div class="container-fluid map w-100 h-auto mt-4">
  <div class="row d-flex w-100 px-4 mx-0 mt-5">
    <div class="col-12 title d-flex justify-content-center align-items-center mt-5">
      <i class="bi bi-alarm fs-1 mb-4"></i>
      <h1 class="fs-1 ms-4">Punto de alquiler </h1>
      <h1 class="text-secondary ms-3 fs-1">{{this.id}}</h1>
    </div>
  </div>
  <!-- Principal 2 -->
  <div class="row justify-content-center mb-2">
    <div class="col-10 mb-2">
        <div class="row mt-1 row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-2">
            <!-- card 1 -->
            <div class="col">
              <mat-card class="cardShadow m-4 rounded h-100">
                <mat-card-content class="h-100">
                  <a class="nav-link m-0 p-0" [routerLink]="['/products', inputProducto.id]">
                    <img mat-card-image [src]="inputProducto.image" alt="Photo" height="250px" class="rounded">
                    <mat-card-title>{{ inputProducto.title }}</mat-card-title>
                  </a>
                  <mat-card-subtitle>Stock: {{ inputProducto.stock}}</mat-card-subtitle>
                  <p class="h-100">{{ inputProducto.description}}</p>
                  <p>Precio: <span class="text-danger mx-1">{{inputProducto.price | currency: "EUR" }}</span>
                  <s class="text-muted"> {{ offer(inputProducto.price) | currency: "EUR"}}</s></p>
                </mat-card-content>
                  <mat-card-actions class="d-flex h-100">
                    <a (click)="addProduct()" [routerLink]="['/payment']"><button mat-button class=""><i class="bi bi-bag-heart me-1 d-lg-none d-xl-inline"></i>COMPRAR</button></a>
                    <button mat-button (click)="addProduct()"><i class="bi bi-heart-fill me-1 d-lg-none d-xl-inline"></i>AÑADIR</button>
                  </mat-card-actions>
              </mat-card>
            </div>
        </div>
    </div>
  </div>
</div>
