<main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2">
  <section class="row justify-content-center align-items-center mx-0 text-center mt-1">
    <div class="col-12 px-3 mx-0 mt-5">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center">
        <h1 class="">{{ "Work.Title" | translate | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12 p-5 m-0">
      <div class="row align-items-start g-5">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/trabajo1.png"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 text-truncate">{{ "Work.Contact" | translate }}</h6>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/trabajo2.png"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 text-truncate">{{ "Work.Advice" | translate }}</h6>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/trabajo3.png"
            class="border border-warning img-fluid w-100 flyr"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 text-truncate">{{ "Work.Installation" | translate }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row mx-0">
        <div class="col-12 backGold thin-separator mb-4"></div>
        <p class="gold text-start px-5">{{ "Work.Concept" | translate }}</p>
        <p class="gold text-start px-5">{{ "Work.ContactText" | translate }}</p>
        <p class="gold text-start px-5">{{ "Work.AdviceText" | translate }}</p>
        <p class="gold text-start px-5">{{ "Work.InstallationText" | translate }}</p>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>
