.superior
{
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
.superior > img{
  width: 100%;
  background-size: auto;
  overflow: hidden;
}
.details {
  background-color: aquamarine;
  width: 100%;
  justify-content: center;
  align-self: end;
  overflow: hidden;
}

.productDetails{
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
  align-self: center;
  width: 50%;
}

img:hover{
  overflow: hidden;
  transform: scale(1.001);
  transition: all 200ms ease-out;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.8);
}

.imgContainer{
  width: 700px;
  height: 610px;
}

.sizeImage{
  width: 100%;
  height: 100%;
  object-fit: stretch;
}

h2{
  font-size: 28px;
}

p{
  font-size: 18px;
}
