body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  animation: colores 1s ease-in infinite;
  letter-spacing: 4px;
  animation: iluminate 4s ease-in-out infinite;
}

div>h1{
  padding: 40px;

}

@keyframes iluminate{
  0%{
      letter-spacing: 4px;
      font-size: 1rem;
      color: darkgray;
      transform: rotate(0deg);
  }

  50%{
      letter-spacing: 30px;
      font-size: 2rem;
      color: blue;
      transform: rotate(360deg);
  }

  100%{
      letter-spacing: 4px;
      font-size: 1rem;
      color: darkgray;
      transform: rotate(720deg);
  }
}

@keyframes colores{
  100%, 0%{
      stroke: blue;
  }

  25%{
      stroke: red;
  }

  50%{
      stroke: rgb(27, 198, 92);
  }

  75%{
      stroke: rgb(228, 6, 121);
  }
}

@keyframes dash{
  0%{
      stroke-dasharray: 1,200;
  }
  50%{
      stroke-dasharray: 89,200;
  }
  100%{
      stroke-dasharray: 89,200;
  }
}
