<main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2">
  <section class="row justify-content-center align-items-center mx-0 text-center mt-5">
    <div class="col-12 px-3 mt-3">
      <div class="d-flex justify-content-center align-items-center backGold br25 border border-warning d-none d-lg-block">
        <p class="text-center my-auto title">{{ "About.Title" | translate | uppercase }}</p>
      </div>
      <div class="d-flex justify-content-center align-items-center backGold br25 border border-warning d-lg-none p-2">
        <p class="text-center my-auto title">{{ "About.Titlesm" | translate | uppercase }}</p>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12 p-0 m-0">
      <div class="row mx-0 mt-4">
        <p class="gold text-start px-5">{{ "About.Contact" | translate }}</p>
        <p class="gold text-start px-5">{{ "About.Advice" | translate }}</p>
        <p class="gold text-start px-5">{{ "About.Installation" | translate }}</p>
        <p class="gold text-start px-5">{{ "About.Concept" | translate }}</p>
        <p class="gold text-start px-5">{{ "About.ContactText" | translate }}</p>
        <div class="col-12 backGold thin-separator mb-4"></div>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>


