/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

html{
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background-color: rgb(5, 8, 8);
  margin: 0;
  padding: 0;
}

body{
  max-width: 100vw;
  background-color: rgb(5, 8, 8);
  overflow-y: auto;
}


main{
  max-width: 100vw;
  background-color: rgb(5, 8, 8);
}

section{
  max-width: 100vw;
}

h1{
  font-family: 'Alegreya', serif;
}

.gold{
  color: rgb(128, 86, 15);
}

.backGold{
  /* background: linear-gradient(to right, black, rgb(147, 125, 2), rgb(128, 86, 15), rgb(67, 58, 6)); */
  background: linear-gradient(to right, black, #c89116, #543c07, #4d3a10);
}

.br25{
  border-radius: 25px;
}

.custom-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler:focus {
  outline: none;
  border-color: transparent; /* Establece el borde en transparente */
}

#app{
  background-color: transparent !important;
}

#ap:first-child{
  color: white !important;
}
