.container-fluid{
  /* background: #ffe259;
  background: linear-gradient(to right, white, #f8f8f6); */
  min-height: 85%;
  font-size: 18px;
 }

 .login{
  margin-top: 9%;
 }

.imageLogin{
  background-image: url('../../assets/img/login.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.imageLogin:hover{
  overflow: hidden;
  transform: scale(1.001);
  transition: all 200ms ease-out;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.6);
}

.boxShadow:hover{
  overflow: hidden;
  transform: scale(1.001);
  transition: all 200ms ease-out;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.6);
}

label{
  font-size: 16px;
}

.textWhite{
  color: white;
  background-color: rgb(156, 189, 11);
}

.textDark{
  color: dark;
  background-color: rgb(189, 11, 141);
}
