.container-fluid{
  background: #ffe259;
  background: linear-gradient(to right, white, #f8f8f6);
  min-height: 85%;
 }

 .login{
  margin-top: 9%;
 }

.imageLogin{
  background-image: url('../../assets/2.png');
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.imageLogin:hover{
  overflow: hidden;
  transform: scale(1.001);
  transition: all 200ms ease-out;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.6);
}

.boxShadow:hover{
  overflow: hidden;
  transform: scale(1.001);
  transition: all 200ms ease-out;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.6);
}

label{
  font-size: 16px;
}
