<!-- <app-canvas-cart></app-canvas-cart> -->
  <div class="row text-center text-white justify-content-center">
    <div class="col-8 d-flex flex-column">
      <form action="" method="POST" class="m-5" #loginForm="ngForm">
        <div class="row text-center justify-content-center mt-4">
          <div
            class="col-8 d-flex flex-column justify-content-center align-self-center m-5"
          >
            <h1 class="text-dark">Inicio de sesión</h1>
          </div>
        </div>
        <div class="mb-3 row">
          <label
            for="email"
            [ngStyle]="{ color: !email.valid ? 'red' : 'green' }"
            class="col-sm-2 col-form-label"
            >Email
          </label>
          <div class="col-sm-10">
            <input
              type="email"
              name="email"
              id="email"
              [ngClass]="{
                'is-valid': email.valid,
                'is-invalid': !email.valid && email.touched
              }"
              class="form-control mt-2"
              placeholder="Email"
              value=""
              #email="ngModel"
              [(ngModel)]="user.email"
              required
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])"
            />
            <small
              *ngIf="!email.valid && email.touched"
              class="invalid-feedback d-flex"
              >El email no es válido</small
            >
          </div>
        </div>
        <div class="mb-3 row">
          <label
            for="password"
            [ngStyle]="{ color: !password.valid ? 'red' : 'green' }"
            class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              id="password"
              [ngClass]="{
                'is-valid': password.valid,
                'is-invalid': !password.valid && password.touched
              }"
              class="form-control mt-2"
              placeholder="Password"
              value=""
              #password="ngModel"
              [(ngModel)]="user.password"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}"
            />
            <small
              *ngIf="!password.valid && password.touched"
              class="invalid-feedback d-flex"
              >La contraseña no es válida</small
            >
          </div>
        </div>
        <div class="mb-3 row justify-content-center">
          <div class="col-sm-3">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="btn rounded"
              [routerLink]="['register']"
              [routerLinkActive]="['active']"
            >
              <img
                src="assets/login2.jpg"
                alt="logo"
                class="imgLogin rounded mt-2"
              />
            </button>
          </div>
        </div>
        <div class="row">
          <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <h2 class="text-secondary">No tienes cuenta? Regístrate!!!</h2>
            <a
              class="text-primary nav-link"
              [routerLink]="['register']"
              [routerLinkActive]="['active']"
              [routerLink]="['/register']"
              ><img src="assets/register.jpg" alt="logo" class="rounded imgLogin"
            /></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="modal fade  modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Inicio de Sesión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-login></app-login>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div> -->



