<div class="container-fluid p-0">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top scrolling-navbar ps-5">
    <div class="container-lg d-flex align-items-center">
      <a class="navbar-brand text-decoration-none text-primary fs-4 fw-bold " href="javascript:void(0)" ><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-scooter me-2 mb-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-.39l1.4 7a2.5 2.5 0 1 1-.98.195l-.189-.938-2.43 3.527A.5.5 0 0 1 9.5 13H4.95a2.5 2.5 0 1 1 0-1h4.287l2.831-4.11L11.09 3H9.5a.5.5 0 0 1-.5-.5ZM3.915 12a1.5 1.5 0 1 0 0 1H2.5a.5.5 0 0 1 0-1h1.415Zm8.817-.789A1.499 1.499 0 0 0 13.5 14a1.5 1.5 0 0 0 .213-2.985l.277 1.387a.5.5 0 0 1-.98.196l-.278-1.387Z"/>
      </svg> Drive-Electric </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"><span class="navbar-toggler-icon "></span></button>
      <div id="mynavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <a class="nav-link fs-6 text-light" [routerLink]="['home']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-house "></i> Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link fs-6 text-light" [routerLink]="['/products']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-bag-heart"></i> Tienda</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link fs-6 text-light" [routerLink]="['rent']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-alarm"></i> Alquiler</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link fs-6 text-light" [routerLink]="['contact']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-telephone "></i> Contacto</a>
          </li>
          <li class="nav-item me-3" *ngIf="this.authUser && this.authUser.role === 'admin'">
            <a class="nav-link fs-6 text-light" [routerLink]="['add']" [routerLinkActive]="['active']"><i class="bi bi-arrow-up-square"></i> Añadir</a>
          </li>
          <li class="nav-item" *ngIf="user || authUser">
            <a class="nav-link fs-6 text-light" [routerLink]="['payment']" [routerLinkActive]="['active']"><i class="bi bi-currency-exchange"></i> Pagar</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item mx-2" *ngIf="!user && !authUser">
            <a class="nav-link fs-6 text-light " [routerLink]="['login']" [routerLinkActive]="['active']" ><i class="bi bi-lock-fill"></i> Login</a>
          </li>
          <li class="nav-item dropdown my-0" *ngIf="user">
            <img src="{{ user.photoUrl }}" class="rounded-3 d-inline my-auto" width="30">
            <a class="nav-link fs-6 text-light dropdown-toggle d-inline mx-2" data-bs-toggle="dropdown" href="javascript:void(0)">{{ user.name }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['login']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-pencil "></i> Mi Cuenta</a></li>
              <li><a class="dropdown-item" href="#"><i class="d-lg-none d-xl-inline bi bi-truck "></i> Mis Pedidos</a></li>
              <li><a class="dropdown-item" [routerLink]="['contact']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-question-circle text-white" *ngIf="!user"></i> Contacto</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"><i class="d-lg-none d-xl-inline bi bi-power"
                (click)="signOut()"></i> Cerrar Sesión</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown my-0" *ngIf="this.authUser">
            <img src="{{ this.authUser.image }}" class="rounded-3 d-inline my-auto" width="30">
            <a class="nav-link fs-6 text-light dropdown-toggle d-inline mx-2" data-bs-toggle="dropdown" href="javascript:void(0)">{{ this.authUser.name }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['account']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-pencil "></i> Mi Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['purchases']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-truck "></i> Mis Pedidos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['contact']" [routerLinkActive]="['active']"><i class="d-lg-none d-xl-inline bi bi-question-circle text-white" *ngIf="!localUser"></i> Contacto</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" type="button" (click)="logout()"><i class="d-lg-none d-xl-inline bi bi-power"
                ></i> <strong> Cerrar sesión</strong></a></li>
            </ul>
          </li>
          <li class="nav-item my-0 ms-3">
            <a class="btn  btn-outline-primary fs-6 text-light" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" ><i class="d-lg-none d-xl-inline bi bi-cart "></i> Carrito <span class="" [matBadge]="this.updateBadge()" [matBadgeHidden]="this.updateBadge() === 0" matBadgeColor="accent" matBadgeOverlap="false"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>




<!-- <div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <i class="fas fa-book-reader fa-2x mx-3"></i>Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-align-right text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">COURSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICE</a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <a href="#" class="nav-link">PAGES</a>
            <div class="dropdown-content">
              <a href="#">Generic</a>
              <a href="#">Element</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->

