/* .nav-item:last-child {
  padding-right: 10.5em;
}

.nav-item {
  padding: 0.9em;
}

.navbar-brand {
  padding-left: 8rem;
} */

/* .nav-link:hover {
  color: black;
} */

/* .navbar{
  background-color: rgba(184, 185, 249, 0.6);
} */
