header{
  margin-top: 90px;
}

.firstbox{
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroller{
  overflow-x: scroll;
}
.item{
  width: 400px;
}

.capa > h1{
  color: rgb(49, 51, 57);
  font-size: 5vh;
}

.txtOver{
  position: relative;
  display: inline-block;
  text-align: center;
}
.rightSide{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  letter-spacing: 3em;
}
.leftSide{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  letter-spacing: 3em;
}

.alquiler{
  height: 300px;
}

.text-effect{
  letter-spacing: 15px;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(20, 20, 20, 0.533));
  line-height: 0.70em;
  outline: none;
  text-shadow: 0 0 0 10px #03bcf4;
  animation: animate 25s linear infinite;
}
@keyframes animate{
  0%{
    color: #0e3742;
    text-shadow: none;
  }
  50%{
    color: #fff;
    text-shadow: 0 0 0 160px #03bcf4;
  }
  100%{
    color: #0e3742;
    text-shadow: none;
  }
}


