header{
  margin-top: 90px;
}

.firstbox{
  max-width: 500vw;
}

.container{
  max-width: 100%;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}
.scroller{
  width: 100%;
  overflow-x: scroll;
}
.item{
  width: 400px;
}

.capa > h1{
  color: rgb(49, 51, 57);
  font-size: 10vh;
}

.txtOver{
  position: relative;
  display: inline-block;
  text-align: center;
}
.rightSide{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}
.leftSide{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}


