header{
  margin-top: 90px;
}

.firstbox{
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroller{
  overflow-x: scroll;
}
.item{
  width: 400px;
}

.capa > h1{
  color: rgb(49, 51, 57);
  font-size: 10vh;
}

.txtOver{
  position: relative;
  display: inline-block;
  text-align: center;
}
.rightSide{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  letter-spacing: 3em;
}
.leftSide{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  letter-spacing: 3em;
}

.alquiler{
  height: 300px;
}


