<!-- <app-canvas-cart></app-canvas-cart> -->
<!-- Principal 2 -->
<div class="row justify-content-center">
  <div class="col-10">
      <div class="row mt-1 row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-2">
          <!-- card 1 -->
          <div class="col ">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">patinete1 2022 <span class="badge bg-secondary">Nuevo</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 2 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">C.o.D. <span class="badge bg-danger">-33%</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 3 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Monster Hunter</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 4 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">patinete1 2022 <span class="badge bg-secondary">Nuevo</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 5 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">C.o.D. <span class="badge bg-danger">-33%</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 6 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Monster Hunter</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 7 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">patinete1 2022 <span class="badge bg-secondary">Nuevo</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 8 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">C.o.D. <span class="badge bg-danger">-33%</span></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 9 -->
          <div class="col">
              <div class="card ">
                  <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Monster Hunter</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-light align-items-strech">
                      <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                  </div>
              </div>
          </div>
          <!-- card 1 -->
          <div class="col ">
            <div class="card ">
                <img src="/assets/patinete1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">patinete1 2022 <span class="badge bg-secondary">Nuevo</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-light align-items-strech">
                    <a href="#" class="btn btn-primary col-12 juego">¡Compra ya!</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
