<div class="container-fluid map d-flex w-100 h-auto mt-4">
  <div class="row fluid d-flex fluid w-100 h-auto px-4 mx-0 mt-5">
    <div class="col-12 title d-inline-flex justify-content-center align-items-center mt-5">
      <i class="bi bi-alarm fs-1 mb-4"></i>
      <h1 class="fs-1 ms-4">Benidorm. </h1>
      <h1 class="text-secondary ms-2 fs-1 d-none d-lg-block">La mejor forma de alquilar tus patinetes</h1>
    </div>
    <div class="fs-2 col-md-8 mx-auto mt-2 d-flex justify-content-start h-auto align-items-end">
      <h2>Puntos de alquiler en Playa Poniente</h2>
    </div>
    <div class="col-md-8 mx-auto mb-2 rounded-3 border border-light" id="mapa-poniente">
    </div>
    <div class="fs-2 col-md-8 mx-auto d-flex justify-content-start h-auto align-items-end">
      <h2>Puntos de alquiler en Playa Levante</h2>
    </div>
    <div class="col-md-8 mx-auto mb-5 rounded-3 border border-light" id="mapa-levante">
    </div>
  </div>
</div>
