<main class="container-fluid d-flex justify-content-center align-items-around mx-0 p-2">
  <section class="row justify-content-center align-items-center mx-0 text-center">
    <div class="col-12 px-3 mx-0 mt-4">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center d-none d-lg-block">
        <h1 class="">{{ "Indoor.Title" | translate | uppercase | uppercase }}</h1>
      </div>
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center d-lg-none">
        <h1 class="">{{ "Indoor.Titlesm" | translate | uppercase | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12 m-0 justify-content-center align-items-center p-4">
      <div class="row d-flex justify-content-center g-5 mx-auto">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/POINTSvertical.jpg"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Indoor.SlidingPanels" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/ENRROLLABLE.jpg"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Indoor.RollerBlind" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/plis.png"
            class="border border-warning img-fluid w-100 flyr"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Indoor.Pleated" | translate | uppercase }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 m-0 justify-content-center align-items-center p-4">
      <div class="row d-flex justify-content-center g-5 mx-auto">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/lamasVerticales.png"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Indoor.Slated" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/veneciana_madera.jpg"
            class="border border-warning img-fluid w-100 flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning d-none d-lg-block">
            <h6 class="mb-0 p-2">{{ "Indoor.Venetian" | translate | uppercase }}</h6>
          </div>
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning d-lg-none">
            <h6 class="mb-0 p-2">{{ "Indoor.Venetiansm" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva4/ondamadera.png"
            class="border border-warning img-fluid w-100 flyr"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning d-none d-lg-block">
            <h6 class="mb-0 p-2">{{ "Indoor.Textile" | translate | uppercase }}</h6>
          </div>
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning d-lg-none">
            <h6 class="mb-0 p-2">{{ "Indoor.Textilesm" | translate | uppercase }}</h6>
          </div>
        </div>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>

