<!-- <main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2 bg-dark">
  <section class="row justify-content-center align-items-center mx-0 text-center">
    <div class="col-12 px-3 m-0">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center">
        <h1 class="">{{ "Retractable.Title" | translate | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-0 thin-separator"></div>
    <div class="col-12 p-5 m-0">
      <div class="row align-items-start g-5">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/sfa.png"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt bg-dark mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 gold">{{ "Work.Contact" | translate }}</h6>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/sfa.png"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt bg-dark mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 gold">{{ "Work.Advice" | translate }}</h6>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/rollerblind.png"
            class="border border-warning img-fluid  flyr"
            alt="landing page"
          />
          <div class="overlay-text txt bg-dark mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2 gold">{{ "Work.Installation" | translate }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row">
        <div class="col-12 thin-separator my-4"></div>
          <p class="gold text-start px-5">{{ "Retractable.Contact" | translate }}</p>
          <p class="gold text-start px-5">{{ "Retractable.Advice" | translate }}</p>
          <p class="gold text-start px-5">{{ "Retractable.Installation" | translate }}</p>
          <p class="gold text-start px-5">{{ "Retractable.Concept" | translate }}</p>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row">
        <div class="col-12 thin-separator my-4"></div>
        <div class="col-6">
          <p class="gold text-start ps-4">Mov. +34 722 8661 019</p>
        </div>
        <div class="col-6">
          <p class="gold text-end pe-4">infospaceofdesign.es</p>
        </div>
      </div>
    </div>
  </section>
</main>
 -->

<main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2">
  <section class="row justify-content-center align-items-center mx-0 text-center">
    <div class="col-12 px-3 mx-0 mt-4">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center">
        <h1 class="">{{ "Retractable.Title" | translate | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12  m-0">
      <div class="row align-items-start g-5 p-5">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva18/retractil-1.png"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva18/retractil-2.png"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva18/retractil-3.png"
            class="border border-warning img-fluid  flyr"
            alt="landing page"
          />
        </div>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row mx-0">
        <div class="col-12 backGold thin-separator mb-4"></div>
        <p class="gold text-start px-5">{{ "Retractable.Contact" | translate }}</p>
        <p class="gold text-start px-5">{{ "Retractable.Advice" | translate }}</p>
        <p class="gold text-start px-5">{{ "Retractable.Installation" | translate }}</p>
        <p class="gold text-start px-5">{{ "Retractable.Concept" | translate }}</p>
        <p class="gold text-start px-5">{{ "Retractable.ContactText" | translate }}</p>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>
