<main class="container-fluid d-flex justify-content-center align-items-center mx-0">
  <section class="row justify-content-center align-items-center mx-0">
    <div class="col-6 p-0 m-0 left d-none d-lg-block mb-4 w-100">
      <img @animateList
          src="./assets/image/sps.jpeg"
          class="img-fluid w-100 h-100 mb-4"
          alt="landing page"
      />
    </div>
    <div class="col-12 col-lg-6 p-0 m-0 leftmd d-block d-lg-none mb-4">
      <img @animateList
          src="./assets/image/sps.jpeg"
          class="img-fluid w-100 mb-4"
          alt="landing page"
      />
    </div>
    <div class="col-12 col-lg-6 p-0 d-flex flex-column justify-content-around align-items-center right text-center mx-0 mt-sm-5 mt-md-5">
      <div class="row m-0 mt-md-4 d-none d-lg-block w-100">
        <div class="col-12 d-flex justify-content-center flex-start mb-5">
          <a class="col-12 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['indoor']">
            <img
              src="./assets/image/sfa.png"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.Zero" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Textil" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.One" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Two" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Three" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Four" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Five" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Six" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Seven" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Eight" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
        <div class="col-12 d-flex justify-content-center flex-start mb-5">
          <a class="col-12 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['outdoor']">
            <img
              src="./assets/image/monoblock.png"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.Nine" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Ten" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Eleven" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Twelve" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyOne" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyTwo" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyThree" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyFour" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyFive" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentySeven" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-4 d-lg-none">
        <div class="col-12 d-flex justify-content-center flex-start mb-5">
          <a class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['indoor']">
            <img
              src="./assets/image/sfa.png"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.Zero" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Textil" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.One" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Two" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Three" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Four" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Five" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Six" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Seven" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Eight" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
        <div class="col-12 d-flex justify-content-center flex-start mb-5">
          <a class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['outdoor']">
            <img
              src="./assets/image/monoblock.png"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.Nine" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Ten" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Eleven" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Twelve" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyOne" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyTwo" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyThree" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyFour" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyFive" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentySeven" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row m-0 d-lg-none">
        <div class="col-12 d-flex justify-content-center flex-start mb-5">
          <a class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['outdoor']">
            <img
              src="./assets/image/4.png"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.TwentyEight" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.TwentyNine" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyOne" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyTwo" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyThree" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyFour" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyFive" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
        <div class="col-12 d-flex justify-content-center flex-start">
          <a class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center rounded-image-container mx-auto w-100" [routerLink]="['crystal']">
            <img
              src="./assets/image/nuda.jpg"
              class="img-fluid flyr border border-warning"
              alt="landing page"
            />
            <div class="overlay-text txtLandingTitle mb-4 border border-warning">
              <p class="mb-0 p-2 imgTileLg gold">{{ "Landing.FortyTwo" | translate | uppercase}}</p>
            </div>
            <div class="text-start p-2 overlay-text txtLanding backGoldLanding mb-4 border border-warning">
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertySix" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertySeven" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyEight" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.ThertyNine" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.Forty" | translate | uppercase }}</p>
              <p class="p-0 m-0 imgTileLg point">{{ "Landing.FortyOne" | translate | uppercase }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>
@defer (on viewport; on timer(2s)) {
  <app-how-we-do-it/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(5s)) {
  <app-indoor/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(10s)) {
  <app-outdoor/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(15s)) {
  <app-crystal/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(20s)) {
  <app-sliding/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(30s)) {
  <app-roller/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(40s)) {
  <app-slated/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(50s)) {
  <app-venetian/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(60s)) {
  <app-pleated/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(70s)) {
  <app-textile/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(80s)) {
  <app-awning-system/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(90s)) {
  <app-custom-structures/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(100s)) {
  <app-rotating/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(110s)) {
  <app-parasols/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(120s)) {
  <app-pergolas/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(130s)) {
  <app-bioclimatic/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(140s)) {
  <app-coffee/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(150s)) {
  <app-retractable/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(160s)) {
  <app-flat/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(170s)) {
  <app-outdoor-vertical/>
} @placeholder {
  <p>Loading...</p>
}
@defer (on viewport; on timer(180s)) {
  <app-traditional/>
} @placeholder {
  <p>Loading...</p>
}
