<main class="container-fluid d-flex justify-content-center align-items-center mx-0">
  <section class="row justify-content-center align-items-center mx-0">
    <div class="col-12 col-md-6 p-0 m-0 left">
      <img @animateList
          src="/assets/image/sps.jpeg"
          class="img-fluid w-100 h-100"
          alt="landing page"
        />
    </div>
    <div class="col-12 col-md-6 p-0 d-flex flex-column justify-content-around align-items-center right text-center mx-0">
      <div class="row m-0">
        <div class="col-12 mb-2">
          <h1 class="text-center fw-bold fst-italic text-decoration-underline gold">{{"Home.Indoor" | translate}}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center flex-start">
          <div class="col-6 d-flex justify-content-center align-items-center rounded-image-container">
            <img
              src="/assets/image/monoblock.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <!-- <div class="overlay-text txt bg-dark mb-4">
              <h6 class="mb-0 p-2 gold">MONOBLOCK SYSTEM</h6>
            </div> -->
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2">{{ "Work.Advice" | translate }}</h6>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center rounded-image-container">
            <img
              src="/assets/image/bioclimatic.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2">{{ "Work.Advice" | translate }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 mb-2">
          <h1 class="text-center fw-bold fst-italic text-decoration-underline gold">{{"Home.Outdoor" | translate}}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center flex-start">
          <div class="col-6 d-flex justify-content-center align-items-center rounded-image-container">
            <img
              src="/assets/image/monoblock.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2">{{ "Work.Advice" | translate }}</h6>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center rounded-image-container">
            <img
              src="/assets/image/bioclimatic.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2">{{ "Work.Advice" | translate }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-how-we-do-it></app-how-we-do-it>
<app-indoor></app-indoor>
<app-outdoor></app-outdoor>
<app-crystal></app-crystal>
<app-sliding></app-sliding>
<app-roller></app-roller>
<app-slated></app-slated>
<app-venetian></app-venetian>
<app-pleated></app-pleated>
<app-textile></app-textile>
<app-awning-system></app-awning-system>
<app-custom-structures></app-custom-structures>
<app-pergolas></app-pergolas>
<app-bioclimatic></app-bioclimatic>
<app-coffee></app-coffee>
<app-retractable></app-retractable>
<app-flat></app-flat>
<app-outdoor-vertical></app-outdoor-vertical>
<app-led></app-led>
<app-traditional></app-traditional>




<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1366" zoomAndPan="magnify" viewBox="0 0 1024.5 576" height="768" preserveAspectRatio="xMidYMid meet" version="1.0">
  <metadata>

  </metadata>
  <defs>
      <g/>
      <clipPath id="ef427353f9">
          <path d="M 0 0.140625 L 1024 0.140625 L 1024 575.859375 L 0 575.859375 Z M 0 0.140625 " clip-rule="nonzero"/>
      </clipPath>
      <clipPath id="008a915dd5">
          <path d="M 4.347656 0.140625 L 1019.054688 0.140625 L 1019.054688 43.808594 L 4.347656 43.808594 Z M 4.347656 0.140625 " clip-rule="nonzero"/>
      </clipPath>
      <clipPath id="21e1673ae9">
          <path d="M 26.179688 0.140625 L 997.222656 0.140625 C 1003.011719 0.140625 1008.566406 2.441406 1012.660156 6.535156 C 1016.757812 10.628906 1019.054688 16.183594 1019.054688 21.972656 C 1019.054688 27.765625 1016.757812 33.316406 1012.660156 37.414062 C 1008.566406 41.507812 1003.011719 43.808594 997.222656 43.808594 L 26.179688 43.808594 C 20.390625 43.808594 14.835938 41.507812 10.742188 37.414062 C 6.648438 33.316406 4.347656 27.765625 4.347656 21.972656 C 4.347656 16.183594 6.648438 10.628906 10.742188 6.535156 C 14.835938 2.441406 20.390625 0.140625 26.179688 0.140625 Z M 26.179688 0.140625 " clip-rule="nonzero"/>
      </clipPath>
      <linearGradient x1="-0.000000476103" gradientTransform="matrix(0.170573, 0, 0, 0.170573, 4.347878, 0.140508)" y1="0" x2="5948.812558" gradientUnits="userSpaceOnUse" y2="0" id="81a44a9fe0">
      </linearGradient>
  </defs>
</svg> -->
