<main class="container-fluid d-flex justify-content-center align-items-center mx-0">
  <section class="row justify-content-center align-items-center mx-0">
    <div class="col-12 col-md-6 p-0 m-0 left">
      <img @animateList
          src="/assets/image/sps.jpeg"
          class="img-fluid w-100 h-100"
          alt="landing page"
      />
    </div>
    <div class="col-12 col-md-6 p-0 d-flex flex-column justify-content-around align-items-center right text-center mx-0">
      <div class="row m-0">
        <a class="col-12 mb-2" [routerLink]="['indoor']">
          <h1 class="text-center fw-bold fst-italic text-decoration-underline gold">{{"Home.Indoor" | translate}}</h1>
        </a>
        <div class="col-12 d-flex justify-content-center flex-start">
          <a class="col-6 d-flex justify-content-center align-items-center rounded-image-container" [routerLink]="['indoor']">
            <img
              src="/assets/image/diapositiva4/POINTSvertical.jpg"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2 text-truncate">{{ "Indoor.SlidingPanels" | translate }}</h6>
            </div>
          </a>
          <a class="col-6 d-flex justify-content-center align-items-center rounded-image-container" [routerLink]="['indoor']">
            <img
              src="/assets/image/diapositiva4/ondamadera.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2 text-truncate">{{ "Indoor.Textilesm" | translate }}</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="row m-0">
        <a class="col-12 mb-2" [routerLink]="['outdoor']">
          <h1 class="text-center fw-bold fst-italic text-decoration-underline gold">{{"Home.Outdoor" | translate}}</h1>
        </a>
        <div class="col-12 d-flex justify-content-center flex-start">
          <a class="col-6 d-flex justify-content-center align-items-center rounded-image-container" [routerLink]="['outdoor']">
            <img
              src="/assets/image/monoblock.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2 text-truncate">{{ "Outdoor.SunProtect" | translate }}</h6>
            </div>
          </a>
          <a class="col-6 d-flex justify-content-center align-items-center rounded-image-container" [routerLink]="['outdoor']">
            <img
              src="/assets/image/bioclimatic.png"
              class="img-fluid  flyr"
              alt="landing page"
            />
            <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
              <h6 class="mb-0 p-2 text-truncate">{{ "Outdoor.Bioclimatic" | translate }}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<app-how-we-do-it></app-how-we-do-it>
<app-indoor></app-indoor>
<app-outdoor></app-outdoor>
<app-crystal></app-crystal>
<app-sliding></app-sliding>
<app-roller></app-roller>
<app-slated></app-slated>
<app-venetian></app-venetian>
<app-pleated></app-pleated>
<app-textile></app-textile>
<app-awning-system></app-awning-system>
<app-custom-structures></app-custom-structures>
<app-pergolas></app-pergolas>
<app-bioclimatic></app-bioclimatic>
<app-coffee></app-coffee>
<app-retractable></app-retractable>
<app-flat></app-flat>
<app-outdoor-vertical></app-outdoor-vertical>
<app-led></app-led>
<app-traditional></app-traditional>
