<main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2">
  <section class="row justify-content-center align-items-center mx-0 text-center">
    <div class="col-12 px-3 mx-0 mt-4">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center">
        <h1 class="">{{ "Roller.Title" | translate | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12  m-0">
      <div class="row align-items-start g-5 p-5">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva8/Estor-enrollable-elegante-con-topping.jpg"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Roller.Crystal" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva8/Estor-enrollable-elegante-noche-y-dia.jpg"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Roller.Night" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva8/ENROLLABLE-SCREEN-CHOCOLATE-CON-GALERIA-NIQUEL.jpg"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Roller.Lino" | translate | uppercase }}</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva7/TROPICvertical.jpg"
            class="border border-warning img-fluid  flyr"
            alt="landing page"
          />
          <div class="overlay-text txt backGold mb-4 w-75 border border-warning">
            <h6 class="mb-0 p-2">{{ "Roller.Digital" | translate | uppercase }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row mx-0">
        <div class="col-12 backGold thin-separator mb-4"></div>
        <p class="gold text-start px-5">{{ "Roller.Contact" | translate }}</p>
        <p class="gold text-start px-5">{{ "Roller.Advice" | translate }}</p>
        <p class="gold text-start px-5">{{ "Roller.Installation" | translate }}</p>
        <p class="gold text-start px-5">{{ "Roller.Concept" | translate }}</p>
        <p class="gold text-start px-5">{{ "Roller.ContactText" | translate }}</p>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>




