<app-canvas-cart></app-canvas-cart>
<div class="container firstbox" >
  <div class="row fluid ">
    <div class="col text-center fluid">
      <div class="row fluid">
        <div class="col figure box" id="zoom">
          <!-- <img src="assets/2.png" class="image portada" id="imagen" @animateImage> -->
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
            <source src="assets/video.mp4" type="video/mp4">
          </video>
          <div class="capa align-self-end" @animateList>
            <h1 class="text-danger mt-5 titulo fs-1 font" >Patinetes</h1>
            <hr class="hr-light">
            <h1 class="text-light mt-3 fs-1 titulo1 font">Pure-Electric</h1>
            <div class="col-6 mx-auto botonPortada">
              <a class="btn btn-lg btn-primary " role="button" [routerLink]="['/products']">Comprar Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container secondbox my-5">
  <div class="row m-5 justify-content-center">
    <div class="col-sm-5 justify-content-center">
      <div class="card text-center cardShadow">
        <div class="card-body">
          <h2 class="card-title">Comprar Patinetes</h2>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-lg btn-outline-primary" role="button" [routerLink]="['login']">Comprar Ahora</a>
        </div>
        <img
          src="/assets/patinete1.jpg"
          class="card-img-bottom"
          alt="..."
          height="250"
        />
      </div>
    </div>
    <div class="col-sm-5 justify-content-center mb-5">
      <div class="card text-center cardShadow">
        <div class="card-body">
          <h2 class="card-title">Alquilar Patinetes</h2>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-lg btn-outline-primary" role="button" [routerLink]="['login']">Alquilar Ahora</a>
        </div>
        <img
          src="/assets/patinete1.jpg"
          class="card-img-bottom"
          alt="..."
          height="250"
        />
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-5">
  <div class="col-11 d-flex ms-4">
    <h1>Tienda. </h1>
    <h1 class="text-secondary ms-1">La mejor forma de comprar tus patinetes favoritos</h1>
  </div>
</div>

<!-- Products -->
<script>
  $(document).ready(function() {
  $('#autoWidth').lightSlider({
      autoWidth:true,
      loop:true,
      onSliderLoad: function() {
          $('#autoWidth').removeClass('cs-hidden');
      }
  });
});
</script>
<div class="container-fluid scroller">
  <div class="row">
    <ul id="autoWidth" class="cs-hidden d-flex ms-5">
      <li class="item mx-2" *ngFor="let producto of productos"><app-cardhome [inputProducto]="producto"></app-cardhome></li>
    </ul>
  </div>
</div>

<!-- Publicidad -->
<div class="row dos align-items-center text-center text-light bg-light">
  <div class="col color">
    <mat-accordion></mat-accordion>
    <mat-slider></mat-slider>
    <img
      src="assets/comunitat.png"
      class="img-fluid dos"
      alt="Responsive image"
    />
  </div>
</div>
