<main class="container-fluid d-flex justify-content-center align-items-around mx-0 py-2">
  <section class="row justify-content-center align-items-center mx-0 text-center">
    <div class="col-12 px-3 mx-0 mt-4">
      <div class="col-12 p-0 m-0 backGold br25 border border-warning text-center align-items-center">
        <h1 class="">{{ "Venetian.Title" | translate | uppercase }}</h1>
      </div>
    </div>
    <div class="col mt-2 backGold thin-separator"></div>
    <div class="col-12 m-0 justify-content-center align-items-center p-4 ">
      <div class="row d-flex justify-content-center g-5 mx-auto">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva10/veneciana-1-1.jpg"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva10/veneciana_madera.jpg"
            class="border border-warning img-fluid  flyr border border-warning"
            alt="landing page"
          />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center rounded-image-container">
          <img
            src="/assets/image/diapositiva10/veneciana-3.png"
            class="border border-warning img-fluid  flyr"
            alt="landing page"
          />
        </div>
      </div>
    </div>
    <div class="col-12 p-0 m-0">
      <div class="row mx-0">
        <div class="col-12 backGold thin-separator mb-4"></div>
        <p class="gold text-start px-5">{{ "Venetian.Contact" | translate }}</p>
        <p class="gold text-start px-5">{{ "Venetian.Advice" | translate }}</p>
        <p class="gold text-start px-5">{{ "Venetian.Installation" | translate }}</p>
        <p class="gold text-start px-5">{{ "Venetian.Concept" | translate }}</p>
      </div>
    </div>
    <app-footer-slim></app-footer-slim>
  </section>
</main>






