 <!-- <app-canvas-cart></app-canvas-cart> -->
 <div class="row cont text-center text-white justify-content-center mt-4">
  <div class="col-8 d-flex flex-column">
     <form action="" method="POST" class="m-5 needs-validation" #registerForm = "ngForm" (ngSubmit)="addUser(fileUpload)"  novalidate>
      <div class="row d-flex justify-content-center ms-2 pt-3">
        <div class="col d-flex m-3 d-flex justify-content-center">
          <h1 class="text-dark fs-1 fw-b ps-5 ms-5">Regístrate. </h1>
          <h1 class="text-secondary ms-2 fs-1 fw-b">La mejor forma de comprar</h1>
        </div>
      </div>
        <div class="mb-3 row">
         <label for="name" [ngStyle]="{'color': !name.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Nombre </label>
         <div class="col-sm-10">
           <input
             type="text"
             name="name"
             id="name"
             [ngClass]="{'is-valid': name.valid, 'is-invalid': !name.valid && name.touched}"
             class="form-control mt-2"
             placeholder="Introduzca el nombre"
             value=""
             #name = "ngModel"
             [(ngModel)] = "user.name"
             required
             pattern="[a-zA-ZÀ-ÿ\s]{1,40}"
           /> <small *ngIf="!name.valid && name.touched" class=" invalid-feedback d-flex is-invalid">El nombre no es válido</small>
         </div>
       </div>
       <div class="mb-3 row">
         <label for="surname" [ngStyle]="{'color': !surname.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Apellidos </label>
         <div class="col-sm-10">
           <input
             type="text"
             name="surname"
             id="surname"
             [ngClass]="{'is-valid': surname.valid, 'is-invalid': !surname.valid && surname.touched}"
             class="form-control mt-2"
             placeholder="Introduzca los apellidos"
             value=""
             #surname = "ngModel"
             [(ngModel)] = "user.surname"
             required
             pattern="[a-zA-ZÀ-ÿ\s]{1,60}"
           /> <small *ngIf="!surname.valid && surname.touched" class=" invalid-feedback d-flex">Los apellidos no son válidos</small>
         </div>
       </div>
       <div class="mb-3 row">
         <label for="address" [ngStyle]="{'color': !address.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Dirección </label>
         <div class="col-sm-10">
           <input
             type="text"
             name="address"
             id="address"
             [ngClass]="{'is-valid': address.valid, 'is-invalid': !address.valid && address.touched}"
             class="form-control mt-2"
             placeholder="Introduzca la dirección"
             value=""
             #address = "ngModel"
             [(ngModel)] = "user.address"
             required
             pattern="[a-zA-Z0-9\_\-\,\ ]{4,68}"
           /> <small *ngIf="!address.valid && address.touched" class=" invalid-feedback d-flex">La dirección no es válida</small>
         </div>
       </div>
       <div class="mb-3 row">
        <label for="address" [ngStyle]="{'color': !phone.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Teléfono</label>
         <div class="col-sm-10">
           <input
             type="number"
             name="phone"
             id="phone"
             [ngClass]="{'is-valid': phone.valid, 'is-invalid': !phone.valid && phone.touched}"
             class="form-control mt-2"
             placeholder="Introduzca el teléfono"
             value=""
             #phone = "ngModel"
             [(ngModel)] = "user.phone"
             required
             pattern="(\+?( |-|\.)?\d{1,4}( |-|\.)?)?(\(?\d{3}\)?|\d{3})( |-|\.)?(\d{3}( |-|\.)?\d{3})"
           /> <small *ngIf="!phone.valid && phone.touched" class=" invalid-feedback d-flex">El teléfono no es válido</small>
         </div>
       </div>
       <div class="mb-3 row">
        <label for="email" [ngStyle]="{'color': !email.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Email </label>
        <div class="col-sm-10">
          <input
            type="email"
            name="email"
            id="email"
            [ngClass]="{'is-valid': email.valid, 'is-invalid': !email.valid && email.touched}"
            class="form-control mt-2"
            placeholder="Introduzca el correo electrónico"
            value=""
            #email = "ngModel"
            [(ngModel)] = "user.email"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])"
          /> <small *ngIf="!email.valid && email.touched" class=" invalid-feedback d-flex">El email no es válido</small>
        </div>
      </div>
       <div class="mb-3 row">
         <label for="password" [ngStyle]="{'color': !password.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Password</label>
         <div class="col-sm-10">
           <input
             type="password"
             name="password"
             id="password"
             [ngClass]="{'is-valid': password.valid, 'is-invalid': !password.valid && password.touched}"
             class="form-control mt-2"
             placeholder="Introduzca la contraseña"
             value=""
             #password = "ngModel"
             [(ngModel)] = "user.password"
             required
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}"
           /> <small *ngIf="!password.valid && password.touched" class=" invalid-feedback d-flex">La contraseña no es válida, debe contener al menos 8 caracteres entre mayúsculas, minúsculas y números</small>
         </div>
         <label for="password2" [ngStyle]="{'color': !password2.valid || user.password2 !== user.password ?'red':'green'}" class="col-sm-2 col-form-label mt-4">Verificar</label>
         <div class="col-sm-10 mt-4">
           <input
             type="password"
             name="password2"
             id="password2"
             [ngClass]="{'is-valid': password2.valid && user.password2 === user.password, 'is-invalid': !password2.valid && password2.touched || user.password2 !== user.password && password2.touched}"
             class="form-control"
             placeholder="Verifique la contraseña"
             value=""
             #password2 = "ngModel"
             [(ngModel)] = "user.password2"
             required
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}"
           /> <small *ngIf="user.password !==  user.password2 && this.password2.touched" class=" invalid-feedback d-flex">La contraseña no coincide</small>
         </div>
       </div>
       <div class="mb-2 row">
        <label for="image" [ngStyle]="{'color': !ngImagen.valid?'red':'green'}" class="col-sm-2 col-form-label mt-2">Imagen</label>
        <div class="col-sm-10 mt-2">
          <input type="file" class="file-upload form-control" #fileUpload name="image" [(ngModel)]="user.image"
          #ngImagen="ngModel"
          [ngClass]="{'is-valid':ngImagen.valid, 'is-invalid': ngImagen.touched && !ngImagen.valid}"
          (change)="changeImage(fileUpload)" required />
          <div class="col-10">
            <div *ngIf="ngImagen.touched && ngImagen.invalid" class="alert alert-danger">
              Introduzca la imagen*
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="user.image" class="text-center mt-2">
        <img [src]="preview" alt="" id="preview" width="120">
      </div>
       <div class="alert alert-success" *ngIf="status == 'success'">
        Ha sido registrado correctamente <a class="btn btn-primary" [routerLink]="['/login']">Logueate</a>
       </div>
       <div class="alert alert-danger" *ngIf="status == 'error'">
        Error!!! No ha sido registrado correctamente, inténtelo de nuevo
       </div>
       <div class="row justify-content-center">
        <div class="col-sm-3">
          <button type="submit" [disabled]="registerForm.invalid || user.password !== user.password2" class="btn rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img
          src="assets/register.jpg"
          alt="logo"
          class="imgLogin rounded mx-auto d-block"/>
          </button>
          <!-- Modal -->
          <div class="modal fade text-dark" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="staticBackdropLabel">Usuario registrado correctamente</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img [src]="this.userToShow.image" alt="imagen de usuario" class="imagenUsuario">
                  <hr>
                  <p class="mt-2">{{ this.userToShow.name }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/login']">Iniciar Sesión</button>
                  <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
            <!-- <div class="modal fade text-dark" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark" id="myModal">{{ this.userToShow.name }} ha sido añadido correctamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img [src]="this.userToShow.image" alt="imagen de usuario" class="imagenUsuario">
                    <hr>
                    <p>{{ this.userToShow.email }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/login']" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div> -->
        </div>
       </div>
     </form>
   </div>
 </div>

